openapi: 3.2.0
info:
  title: EIA APIv2 ELEC API
  description: Swagger UI interface for EIA's APIv2. You can also explore EIA's API using the Opendata Query Browser. For this UI, you must use your EIA `api key` to apply filters and return data. You can register for an API Key at https://www.eia.gov/opendata/
  version: 2.1.0
servers:
- url: https://api.eia.gov
security:
- api_key: []
tags:
- name: ELEC
  description: Access to Electricity Data
paths:
  /v2/electricity/facility-fuel/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get electricity facility fuel facet by facet id
      x-summary-source: derived
      operationId: getV2ElectricityFacilityFuelFacetByFacetId
      x-operation-id-source: derived
  /v2/electricity/electric-power-operational-data/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get electricity electric power operational data facet by facet id
      x-summary-source: derived
      operationId: getV2ElectricityElectricPowerOperationalDataFacetByFacetId
      x-operation-id-source: derived
  /v2/electricity/operating-generator-capacity/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get electricity operating generator capacity facet by facet id
      x-summary-source: derived
      operationId: getV2ElectricityOperatingGeneratorCapacityFacetByFacetId
      x-operation-id-source: derived
  /v2/electricity/retail-sales/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get electricity retail sales facet by facet id
      x-summary-source: derived
      operationId: getV2ElectricityRetailSalesFacetByFacetId
      x-operation-id-source: derived
  /v2/electricity:
    get:
      tags:
      - ELEC
      summary: Class ElectricityController
      description: Electricity data set top-level controller.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/route'
      operationId: getV2Electricity
      x-operation-id-source: derived
  /v2/electricity/facility-fuel:
    get:
      tags:
      - ELEC
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get electricity facility fuel
      x-summary-source: derived
      operationId: getV2ElectricityFacilityFuel
      x-operation-id-source: derived
  /v2/electricity/facility-fuel/facet:
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get electricity facility fuel facet
      x-summary-source: derived
      operationId: getV2ElectricityFacilityFuelFacet
      x-operation-id-source: derived
  /v2/electricity/facility-fuel/data:
    get:
      tags:
      - ELEC
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get electricity facility fuel data
      x-summary-source: derived
      operationId: getV2ElectricityFacilityFuelData
      x-operation-id-source: derived
    post:
      tags:
      - ELEC
      summary: Class FacilityFuelController
      description: Electricity FacilityFuel dataset controller.
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2ElectricityFacilityFuelData
      x-operation-id-source: derived
  /v2/electricity/electric-power-operational-data:
    get:
      tags:
      - ELEC
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get electricity electric power operational data
      x-summary-source: derived
      operationId: getV2ElectricityElectricPowerOperationalData
      x-operation-id-source: derived
  /v2/electricity/electric-power-operational-data/facet:
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get electricity electric power operational data facet
      x-summary-source: derived
      operationId: getV2ElectricityElectricPowerOperationalDataFacet
      x-operation-id-source: derived
  /v2/electricity/electric-power-operational-data/data:
    get:
      tags:
      - ELEC
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get electricity electric power operational data data
      x-summary-source: derived
      operationId: getV2ElectricityElectricPowerOperationalDataData
      x-operation-id-source: derived
    post:
      tags:
      - ELEC
      summary: Return Electricity electric-power-operational Data
      description: 'Class GenerationController


        Electricity generation dataset controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2ElectricityElectricPowerOperationalDataData
      x-operation-id-source: derived
  /v2/electricity/operating-generator-capacity:
    get:
      tags:
      - ELEC
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get electricity operating generator capacity
      x-summary-source: derived
      operationId: getV2ElectricityOperatingGeneratorCapacity
      x-operation-id-source: derived
  /v2/electricity/operating-generator-capacity/facet:
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get electricity operating generator capacity facet
      x-summary-source: derived
      operationId: getV2ElectricityOperatingGeneratorCapacityFacet
      x-operation-id-source: derived
  /v2/electricity/operating-generator-capacity/data:
    get:
      tags:
      - ELEC
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get electricity operating generator capacity data
      x-summary-source: derived
      operationId: getV2ElectricityOperatingGeneratorCapacityData
      x-operation-id-source: derived
    post:
      tags:
      - ELEC
      summary: Return Electricity operating-generator-capacity Data
      description: 'Class GeneratorLevelCapacityController


        Electricity generation dataset controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2ElectricityOperatingGeneratorCapacityData
      x-operation-id-source: derived
  /v2/electricity/retail-sales:
    get:
      tags:
      - ELEC
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get electricity retail sales
      x-summary-source: derived
      operationId: getV2ElectricityRetailSales
      x-operation-id-source: derived
  /v2/electricity/retail-sales/facet:
    get:
      tags:
      - ELEC
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get electricity retail sales facet
      x-summary-source: derived
      operationId: getV2ElectricityRetailSalesFacet
      x-operation-id-source: derived
  /v2/electricity/retail-sales/data:
    get:
      tags:
      - ELEC
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get electricity retail sales data
      x-summary-source: derived
      operationId: getV2ElectricityRetailSalesData
      x-operation-id-source: derived
    post:
      tags:
      - ELEC
      summary: Return Electricity retail-sales Data
      description: 'Class RetailSalesController


        Electricity retail sales dataset controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2ElectricityRetailSalesData
      x-operation-id-source: derived
components:
  schemas:
    FacetDetails:
      properties:
        totalFacets:
          type: integer
        facets:
          type: array
          items:
            $ref: '#/components/schemas/Facet'
      type: object
    FacetOptionList:
      properties:
        totalFacetOptions:
          type: integer
        facetOptions:
          type: array
          items:
            type: string
      type: object
    DataParams:
      properties:
        data:
          type: array
          items:
            type: string
        facets:
          type: object
        frequency:
          type: string
        start:
          type: string
        end:
          type: string
        sort:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        length:
          type: integer
        offset:
          type: integer
      type: object
    FacetMetaData:
      properties:
        id:
          type: string
        description:
          type: string
      type: object
    RouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/Routes'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    FacetDetailsContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetDetails'
      type: object
    RouteRequest:
      properties:
        command:
          type: array
          items:
            type: string
        params: {}
      type: object
    FinalRoute:
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        frequency:
          type: array
          items:
            $ref: '#/components/schemas/Frequency'
        facets:
          type: array
          items:
            $ref: '#/components/schemas/FacetMetaData'
        data: {}
        startPeriod:
          type: string
        endPeriod:
          type: string
        defaultDateFormat:
          type: string
        defaultFrequency:
          type: string
      type: object
    Frequency:
      properties:
        id:
          type: string
        description:
          type: string
        format:
          type: string
        query:
          type: string
      type: object
    RouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/RouteResponse'
      type: object
    DataResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/DataResponse'
      type: object
    FinalRouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FinalRouteResponse'
      type: object
    FacetOptionListContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetOptionList'
      type: object
    Facet:
      properties:
        id:
          type: string
        name:
          type: string
        alias:
          type: string
      type: object
    Sort:
      properties:
        column:
          type: string
        direction:
          type: string
      type: object
    Routes:
      properties:
        routes:
          type: array
          items:
            type: string
        id:
          type: string
        name:
          type: string
        description:
          type: string
      type: object
    FinalRouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/FinalRoute'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    DataResponse:
      properties:
        data: {}
        dateFormat:
          type: string
        description:
          type: string
        frequency:
          type: string
        total:
          type: integer
      type: object
  responses:
    final-route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FinalRouteResponseContainer'
    facet:
      description: Facet details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetDetailsContainer'
    data:
      description: API Data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataResponseContainer'
    facets:
      description: List of facet options
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetOptionListContainer'
    route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RouteResponseContainer'
  parameters:
    length:
      name: length
      in: query
      description: Max length of returned data
      required: false
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: Offset of returned data
      required: false
      schema:
        type: integer
    sort:
      name: sort
      in: query
      description: How to sort returned data
      required: false
      schema:
        $ref: '#/components/schemas/Sort'
    facetId:
      name: facet_id
      in: path
      description: Facet ID
      required: true
      schema:
        type: string
    facets:
      name: facets
      in: query
      description: Facets to filter by
      required: false
      schema:
        type: object
    end:
      name: end
      in: query
      description: End date to filter by
      required: false
      schema:
        type: string
    frequency:
      name: frequency
      in: query
      description: Frequency to filter by
      required: false
      schema:
        type: string
    start:
      name: start
      in: query
      description: Start date to filter by
      required: false
      schema:
        type: string
    data:
      name: data
      in: query
      description: Data columns to filter by
      required: false
      schema:
        type: array
        items:
          type: string
  requestBodies:
    dataParams:
      description: Parameters for data call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataParams'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
externalDocs:
  description: EIA's API Technical Documentation
  url: https://www.eia.gov/opendata/documentation.php
