openapi: 3.2.0
info:
  title: EIA APIv2 EMISS API
  description: Swagger UI interface for EIA's APIv2. You can also explore EIA's API using the Opendata Query Browser. For this UI, you must use your EIA `api key` to apply filters and return data. You can register for an API Key at https://www.eia.gov/opendata/
  version: 2.1.0
servers:
- url: https://api.eia.gov
security:
- api_key: []
tags:
- name: EMISS
  description: Access to CO2 Emissions Data
paths:
  /v2/co2-emissions/co2-emissions-aggregates/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - EMISS
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get co2 emissions co2 emissions aggregates facet by facet id
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAggregatesFacetByFacetId
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-and-carbon-coefficients/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - EMISS
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get co2 emissions co2 emissions and carbon coefficients facet by facet id
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAndCarbonCoefficientsFacetByFacetId
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-aggregates:
    get:
      tags:
      - EMISS
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get co2 emissions co2 emissions aggregates
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAggregates
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-aggregates/facet:
    get:
      tags:
      - EMISS
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get co2 emissions co2 emissions aggregates facet
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAggregatesFacet
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-aggregates/data:
    get:
      tags:
      - EMISS
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get co2 emissions co2 emissions aggregates data
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAggregatesData
      x-operation-id-source: derived
    post:
      tags:
      - EMISS
      summary: Return co2-emissions-aggregates Data
      description: 'Class CO2EmissionsAggregatesController


        CO2 Emissions Aggregates data set controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2Co2EmissionsCo2EmissionsAggregatesData
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-and-carbon-coefficients:
    get:
      tags:
      - EMISS
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get co2 emissions co2 emissions and carbon coefficients
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAndCarbonCoefficients
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-and-carbon-coefficients/facet:
    get:
      tags:
      - EMISS
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get co2 emissions co2 emissions and carbon coefficients facet
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAndCarbonCoefficientsFacet
      x-operation-id-source: derived
  /v2/co2-emissions/co2-emissions-and-carbon-coefficients/data:
    get:
      tags:
      - EMISS
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get co2 emissions co2 emissions and carbon coefficients data
      x-summary-source: derived
      operationId: getV2Co2EmissionsCo2EmissionsAndCarbonCoefficientsData
      x-operation-id-source: derived
    post:
      tags:
      - EMISS
      summary: Return co2-emissions-and-carbon-coefficients Data
      description: 'Class CO2EmissionsAndCarbonCoefficientsController


        CO2 Emissions Aggregates data set controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2Co2EmissionsCo2EmissionsAndCarbonCoefficientsData
      x-operation-id-source: derived
  /v2/co2-emissions:
    get:
      tags:
      - EMISS
      summary: Class CO2EmissionsController
      description: CO2 Emissions data set top-level controller.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/route'
      operationId: getV2Co2Emissions
      x-operation-id-source: derived
components:
  schemas:
    FacetDetails:
      properties:
        totalFacets:
          type: integer
        facets:
          type: array
          items:
            $ref: '#/components/schemas/Facet'
      type: object
    FacetOptionList:
      properties:
        totalFacetOptions:
          type: integer
        facetOptions:
          type: array
          items:
            type: string
      type: object
    DataParams:
      properties:
        data:
          type: array
          items:
            type: string
        facets:
          type: object
        frequency:
          type: string
        start:
          type: string
        end:
          type: string
        sort:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        length:
          type: integer
        offset:
          type: integer
      type: object
    FacetMetaData:
      properties:
        id:
          type: string
        description:
          type: string
      type: object
    RouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/Routes'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    FacetDetailsContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetDetails'
      type: object
    RouteRequest:
      properties:
        command:
          type: array
          items:
            type: string
        params: {}
      type: object
    FinalRoute:
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        frequency:
          type: array
          items:
            $ref: '#/components/schemas/Frequency'
        facets:
          type: array
          items:
            $ref: '#/components/schemas/FacetMetaData'
        data: {}
        startPeriod:
          type: string
        endPeriod:
          type: string
        defaultDateFormat:
          type: string
        defaultFrequency:
          type: string
      type: object
    Frequency:
      properties:
        id:
          type: string
        description:
          type: string
        format:
          type: string
        query:
          type: string
      type: object
    RouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/RouteResponse'
      type: object
    DataResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/DataResponse'
      type: object
    FinalRouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FinalRouteResponse'
      type: object
    FacetOptionListContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetOptionList'
      type: object
    Facet:
      properties:
        id:
          type: string
        name:
          type: string
        alias:
          type: string
      type: object
    Sort:
      properties:
        column:
          type: string
        direction:
          type: string
      type: object
    Routes:
      properties:
        routes:
          type: array
          items:
            type: string
        id:
          type: string
        name:
          type: string
        description:
          type: string
      type: object
    FinalRouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/FinalRoute'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    DataResponse:
      properties:
        data: {}
        dateFormat:
          type: string
        description:
          type: string
        frequency:
          type: string
        total:
          type: integer
      type: object
  responses:
    final-route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FinalRouteResponseContainer'
    facet:
      description: Facet details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetDetailsContainer'
    data:
      description: API Data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataResponseContainer'
    facets:
      description: List of facet options
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetOptionListContainer'
    route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RouteResponseContainer'
  parameters:
    length:
      name: length
      in: query
      description: Max length of returned data
      required: false
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: Offset of returned data
      required: false
      schema:
        type: integer
    sort:
      name: sort
      in: query
      description: How to sort returned data
      required: false
      schema:
        $ref: '#/components/schemas/Sort'
    facetId:
      name: facet_id
      in: path
      description: Facet ID
      required: true
      schema:
        type: string
    facets:
      name: facets
      in: query
      description: Facets to filter by
      required: false
      schema:
        type: object
    end:
      name: end
      in: query
      description: End date to filter by
      required: false
      schema:
        type: string
    frequency:
      name: frequency
      in: query
      description: Frequency to filter by
      required: false
      schema:
        type: string
    start:
      name: start
      in: query
      description: Start date to filter by
      required: false
      schema:
        type: string
    data:
      name: data
      in: query
      description: Data columns to filter by
      required: false
      schema:
        type: array
        items:
          type: string
  requestBodies:
    dataParams:
      description: Parameters for data call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataParams'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
externalDocs:
  description: EIA's API Technical Documentation
  url: https://www.eia.gov/opendata/documentation.php
