openapi: 3.2.0
info:
  title: EIA APIv2 DBF API
  description: Swagger UI interface for EIA's APIv2. You can also explore EIA's API using the Opendata Query Browser. For this UI, you must use your EIA `api key` to apply filters and return data. You can register for an API Key at https://www.eia.gov/opendata/
  version: 2.1.0
servers:
- url: https://api.eia.gov
security:
- api_key: []
tags:
- name: DBF
  description: Access to Densified Biomass Data
paths:
  /v2/densified-biomass/capacity-by-region/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass capacity by region facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCapacityByRegionFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/characteristics-by-region/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass characteristics by region facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCharacteristicsByRegionFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/export-sales-and-price/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass export sales and price facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassExportSalesAndPriceFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/feedstocks-and-cost/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass feedstocks and cost facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassFeedstocksAndCostFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/inventories-by-region/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass inventories by region facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassInventoriesByRegionFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/production-by-region/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass production by region facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassProductionByRegionFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/sales-and-price-by-region/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass sales and price by region facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassSalesAndPriceByRegionFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/wood-pellet-plants/facet/{facet_id}:
    parameters:
    - $ref: '#/components/parameters/facetId'
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facet'
      summary: Get densified biomass wood pellet plants facet by facet id
      x-summary-source: derived
      operationId: getV2DensifiedBiomassWoodPelletPlantsFacetByFacetId
      x-operation-id-source: derived
  /v2/densified-biomass/capacity-by-region:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass capacity by region
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCapacityByRegion
      x-operation-id-source: derived
  /v2/densified-biomass/capacity-by-region/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass capacity by region facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCapacityByRegionFacet
      x-operation-id-source: derived
  /v2/densified-biomass/capacity-by-region/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass capacity by region data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCapacityByRegionData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass capacity-by-region Data
      description: 'Class CapacityByRegionController


        CapacityByRegion data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassCapacityByRegionData
      x-operation-id-source: derived
  /v2/densified-biomass/characteristics-by-region:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass characteristics by region
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCharacteristicsByRegion
      x-operation-id-source: derived
  /v2/densified-biomass/characteristics-by-region/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass characteristics by region facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCharacteristicsByRegionFacet
      x-operation-id-source: derived
  /v2/densified-biomass/characteristics-by-region/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass characteristics by region data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassCharacteristicsByRegionData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass characteristics-by-region Data
      description: 'Class CharacteristicsByRegionController


        CharacteristicsByRegion data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassCharacteristicsByRegionData
      x-operation-id-source: derived
  /v2/densified-biomass:
    get:
      tags:
      - DBF
      summary: Class Controller
      description: Densified Biomass data set top-level controller.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/route'
      operationId: getV2DensifiedBiomass
      x-operation-id-source: derived
  /v2/densified-biomass/export-sales-and-price:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass export sales and price
      x-summary-source: derived
      operationId: getV2DensifiedBiomassExportSalesAndPrice
      x-operation-id-source: derived
  /v2/densified-biomass/export-sales-and-price/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass export sales and price facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassExportSalesAndPriceFacet
      x-operation-id-source: derived
  /v2/densified-biomass/export-sales-and-price/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass export sales and price data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassExportSalesAndPriceData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass export-sales-and-price Data
      description: 'Class ExportSalesAndPriceController


        ExportSalesAndPrice data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassExportSalesAndPriceData
      x-operation-id-source: derived
  /v2/densified-biomass/feedstocks-and-cost:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass feedstocks and cost
      x-summary-source: derived
      operationId: getV2DensifiedBiomassFeedstocksAndCost
      x-operation-id-source: derived
  /v2/densified-biomass/feedstocks-and-cost/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass feedstocks and cost facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassFeedstocksAndCostFacet
      x-operation-id-source: derived
  /v2/densified-biomass/feedstocks-and-cost/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass feedstocks and cost data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassFeedstocksAndCostData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass feedstocks-and-cost Data
      description: 'Class FeedstocksAndCostController


        FeedstocksAndCost data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassFeedstocksAndCostData
      x-operation-id-source: derived
  /v2/densified-biomass/inventories-by-region:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass inventories by region
      x-summary-source: derived
      operationId: getV2DensifiedBiomassInventoriesByRegion
      x-operation-id-source: derived
  /v2/densified-biomass/inventories-by-region/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass inventories by region facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassInventoriesByRegionFacet
      x-operation-id-source: derived
  /v2/densified-biomass/inventories-by-region/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass inventories by region data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassInventoriesByRegionData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass inventories-by-region Data
      description: 'Class InventoriesByRegionController


        InventoriesByRegion data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassInventoriesByRegionData
      x-operation-id-source: derived
  /v2/densified-biomass/production-by-region:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass production by region
      x-summary-source: derived
      operationId: getV2DensifiedBiomassProductionByRegion
      x-operation-id-source: derived
  /v2/densified-biomass/production-by-region/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass production by region facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassProductionByRegionFacet
      x-operation-id-source: derived
  /v2/densified-biomass/production-by-region/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass production by region data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassProductionByRegionData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass production-by-region Data
      description: 'Class ProductionByRegionController


        ProductionByRegion data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassProductionByRegionData
      x-operation-id-source: derived
  /v2/densified-biomass/sales-and-price-by-region:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass sales and price by region
      x-summary-source: derived
      operationId: getV2DensifiedBiomassSalesAndPriceByRegion
      x-operation-id-source: derived
  /v2/densified-biomass/sales-and-price-by-region/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass sales and price by region facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassSalesAndPriceByRegionFacet
      x-operation-id-source: derived
  /v2/densified-biomass/sales-and-price-by-region/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass sales and price by region data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassSalesAndPriceByRegionData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass sales-and-price-by-region Data
      description: 'Class SalesAndPriceByRegionController


        SalesAndPriceByRegion data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassSalesAndPriceByRegionData
      x-operation-id-source: derived
  /v2/densified-biomass/wood-pellet-plants:
    get:
      tags:
      - DBF
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/final-route'
      summary: Get densified biomass wood pellet plants
      x-summary-source: derived
      operationId: getV2DensifiedBiomassWoodPelletPlants
      x-operation-id-source: derived
  /v2/densified-biomass/wood-pellet-plants/facet:
    get:
      tags:
      - DBF
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/facets'
      summary: Get densified biomass wood pellet plants facet
      x-summary-source: derived
      operationId: getV2DensifiedBiomassWoodPelletPlantsFacet
      x-operation-id-source: derived
  /v2/densified-biomass/wood-pellet-plants/data:
    get:
      tags:
      - DBF
      description: API data with query params
      parameters:
      - $ref: '#/components/parameters/data'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/length'
      - $ref: '#/components/parameters/offset'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      summary: Get densified biomass wood pellet plants data
      x-summary-source: derived
      operationId: getV2DensifiedBiomassWoodPelletPlantsData
      x-operation-id-source: derived
    post:
      tags:
      - DBF
      summary: Return biomass wood-pellet-plants Data
      description: 'Class WoodPelletPlantsController


        WoodPelletPlants data set top-level controller.'
      requestBody:
        $ref: '#/components/requestBodies/dataParams'
      responses:
        '400':
          description: Invalid input
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/responses/data'
      operationId: postV2DensifiedBiomassWoodPelletPlantsData
      x-operation-id-source: derived
components:
  schemas:
    FacetDetails:
      properties:
        totalFacets:
          type: integer
        facets:
          type: array
          items:
            $ref: '#/components/schemas/Facet'
      type: object
    FacetOptionList:
      properties:
        totalFacetOptions:
          type: integer
        facetOptions:
          type: array
          items:
            type: string
      type: object
    DataParams:
      properties:
        data:
          type: array
          items:
            type: string
        facets:
          type: object
        frequency:
          type: string
        start:
          type: string
        end:
          type: string
        sort:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        length:
          type: integer
        offset:
          type: integer
      type: object
    FacetMetaData:
      properties:
        id:
          type: string
        description:
          type: string
      type: object
    RouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/Routes'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    FacetDetailsContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetDetails'
      type: object
    RouteRequest:
      properties:
        command:
          type: array
          items:
            type: string
        params: {}
      type: object
    FinalRoute:
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        frequency:
          type: array
          items:
            $ref: '#/components/schemas/Frequency'
        facets:
          type: array
          items:
            $ref: '#/components/schemas/FacetMetaData'
        data: {}
        startPeriod:
          type: string
        endPeriod:
          type: string
        defaultDateFormat:
          type: string
        defaultFrequency:
          type: string
      type: object
    Frequency:
      properties:
        id:
          type: string
        description:
          type: string
        format:
          type: string
        query:
          type: string
      type: object
    RouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/RouteResponse'
      type: object
    DataResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/DataResponse'
      type: object
    FinalRouteResponseContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FinalRouteResponse'
      type: object
    FacetOptionListContainer:
      properties:
        apiVersion:
          type: string
        request:
          $ref: '#/components/schemas/RouteRequest'
        response:
          $ref: '#/components/schemas/FacetOptionList'
      type: object
    Facet:
      properties:
        id:
          type: string
        name:
          type: string
        alias:
          type: string
      type: object
    Sort:
      properties:
        column:
          type: string
        direction:
          type: string
      type: object
    Routes:
      properties:
        routes:
          type: array
          items:
            type: string
        id:
          type: string
        name:
          type: string
        description:
          type: string
      type: object
    FinalRouteResponse:
      properties:
        response:
          $ref: '#/components/schemas/FinalRoute'
        request:
          $ref: '#/components/schemas/RouteRequest'
      type: object
    DataResponse:
      properties:
        data: {}
        dateFormat:
          type: string
        description:
          type: string
        frequency:
          type: string
        total:
          type: integer
      type: object
  responses:
    final-route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FinalRouteResponseContainer'
    facet:
      description: Facet details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetDetailsContainer'
    data:
      description: API Data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataResponseContainer'
    facets:
      description: List of facet options
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacetOptionListContainer'
    route:
      description: List of API data sets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RouteResponseContainer'
  parameters:
    length:
      name: length
      in: query
      description: Max length of returned data
      required: false
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: Offset of returned data
      required: false
      schema:
        type: integer
    sort:
      name: sort
      in: query
      description: How to sort returned data
      required: false
      schema:
        $ref: '#/components/schemas/Sort'
    facetId:
      name: facet_id
      in: path
      description: Facet ID
      required: true
      schema:
        type: string
    facets:
      name: facets
      in: query
      description: Facets to filter by
      required: false
      schema:
        type: object
    end:
      name: end
      in: query
      description: End date to filter by
      required: false
      schema:
        type: string
    frequency:
      name: frequency
      in: query
      description: Frequency to filter by
      required: false
      schema:
        type: string
    start:
      name: start
      in: query
      description: Start date to filter by
      required: false
      schema:
        type: string
    data:
      name: data
      in: query
      description: Data columns to filter by
      required: false
      schema:
        type: array
        items:
          type: string
  requestBodies:
    dataParams:
      description: Parameters for data call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataParams'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
externalDocs:
  description: EIA's API Technical Documentation
  url: https://www.eia.gov/opendata/documentation.php
